<title>Etusivu</title>
<h1>5th Edition Character Sheet</h1>

<form action="/add" method="POST">
    Name:
    <p>
    <input type="text" name="name">
    <p>
    Race:
    <p>
    <ul>
        {% for class in classes %}
        <input type="radio" name="class" value={{class[0]}}> {{class[1]}}
        {% endfor %}
    </ul>
    <p>
    Class:
    <p>
        <ul>
            {% for race in races %}
            <input type="radio" name="race" value={{race[0]}}> {{race[1]}}
            {% endfor %}
        </ul>

    <p>
    Level:
    <p>
    <input type="text" name="level" value="1">
    <p>
    <br>
    <input type="submit" value="Next step">
    </form>
    